/* globals.css */
/* @import "tailwindcss";  */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */

:root {
  --background: #ece8e8;
  --foreground: #171717;
  --font-roboto: "Roboto", sans-serif, ;
}


@media (prefers-color-scheme: light) {
  :root {
    --background: #d4d0d0;
    --foreground: #ffffff;
    
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
  width: 200px;
  background-color: #fff;
  color: rgba(255, 255, 255, 0.9);
  height: 100vh;
  align-items: center;
  border-radius: 20px;
}
.app-bar {
  background-color: rgb(0, 100, 0);
  color: white;
  padding: 3px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  
}